In [92]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("Employee").getOrCreate()

df = spark.read.csv("emp_data.csv",header=True,inferSchema=True)

df.show()

+-----+---------+---------+---------+---------+------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|FirstName| LastName|StartDate| ExitDate|             Title|      Supervisor|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|DepartmentType|            Division|       DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+---------+---------+---------+---------+------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
| 3461|  Lincoln|  Compton|18-Jul-19|01-Oct-21|Area Sales Manager|    Tammy Conner|          EW|  Future Start|   Full-Time| Zone C|                 Part-Time|    Resignation|         Sales|       General - Con|29-12-1997|   CO|               Foreman|      Male|       78046|Hispanic|    Married|Needs Improvement|                      1|
| 3463|   Kayden|   Dodson|30-Apr-20|18-Jul-21|Area Sales Manager|  Jessica Peters|         TNS|        Active|   Part-Time| Zone A|                 Temporary|     Retirement|         Sales|    Field Operations|21-06-1951|   IN|            Tower Hand|      Male|       12703|Hispanic|     Single|      Fully Meets|                      1|
| 3467|    Celia|   Curtis|06-May-20|     NULL|Area Sales Manager|Michael Odonnell|         WBL|        Active|    Contract| Zone A|                 Part-Time|            Unk|         Sales|            Fielders|14-05-1987|   KY|              Engineer|    Female|       94333|   Asian|   Divorced|          Exceeds|                      6|
| 3480| Jerimiah|   Harmon|08-Sep-22|16-Oct-22|Area Sales Manager|       Eric King|          PL|  Future Start|   Full-Time| Zone C|                 Temporary|     Retirement|         Sales|                Catv|09-08-1946|   TX|            Supervisor|    Female|       75671|   Black|    Widowed|      Fully Meets|                      6|
| 3483|  Jaslene|  Harding|26-Sep-21|     NULL|Area Sales Manager|Krystal Hamilton|         SVG|        Active|   Part-Time| Zone B|                 Temporary|            Unk|         Sales|Project Managemen...|19-06-1964|   CO|           Coordinator|      Male|       42605|   Asian|    Widowed|      Fully Meets|                      6|
| 3492|  Vicente|  Merritt|26-Nov-19|     NULL|Area Sales Manager|    Ashley Smith|          PL|        Active|   Full-Time| Zone C|                 Full-Time|            Unk|         Sales|       General - Con|08-01-1993|   CO|                 Clerk|      Male|       31676|   Asian|    Married|      Fully Meets|                      1|
| 3497|   Graham|Rodriguez|08-Dec-21|     NULL|Area Sales Manager|   Kendra Murray|         TNS|        Active|   Part-Time| Zone C|                 Temporary|            Unk|         Sales|Project Managemen...|18-02-1981|   OR|               Lineman|    Female|       58210|Hispanic|    Widowed|      Fully Meets|                      6|
| 3500|   Nevaeh|    Lucas|20-Nov-18|21-Jun-20|Area Sales Manager|   Bryan Douglas|         NEL|        Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|         Sales|        Shop (Fleet)|25-02-2000|   TX|              Mechanic|    Female|       80424|   White|   Divorced|      Fully Meets|                      1|
| 3502|   Eugene|    Marks|01-Oct-19|     NULL|Area Sales Manager|   Angela Morris|         BPC|        Active|   Full-Time| Zone C|                 Temporary|            Unk|         Sales|            Splicing|29-06-1976|   TX|           Electrician|      Male|       49914|   White|    Married|      Fully Meets|                      1|
| 3505|    Amaya|    Hicks|29-Aug-20|     NULL|Area Sales Manager| Michael Wilkins|          EW|        Active|    Contract| Zone B|                 Temporary|            Unk|         Sales|    Field Operations|24-07-1943|   IN|             Groundman|      Male|       72324|Hispanic|    Widowed|      Fully Meets|                      1|
| 3514|   Alexus|    Estes|15-Apr-20|     NULL|Area Sales Manager|  April Randolph|         BPC|        Active|   Full-Time| Zone B|                 Part-Time|            Unk|         Sales|Wireline Construc...|03-01-1958|   TX|               Manager|      Male|       17419|   Asian|    Married|      Fully Meets|                      1|
| 3520|   Caiden|    Munoz|13-Dec-20|13-Jan-23|Area Sales Manager|   Teresa Daniel|         TNS|        Active|   Full-Time| Zone C|                 Temporary|    Involuntary|         Sales|Project Managemen...|01-03-1963|   ND|               Manager|    Female|       18983|   Black|   Divorced|      Fully Meets|                      1|
| 3522|  Marques|Armstrong|02-Mar-20|     NULL|Area Sales Manager|  Michael Nguyen|         BPC|        Active|   Full-Time| Zone C|                 Part-Time|            Unk|         Sales|            Splicing|12-10-1983|   KY|               Splicer|    Female|       34369|   Other|     Single|      Fully Meets|                      1|
| 3527|    Ahmed|  Hawkins|01-May-20|25-Feb-21|Area Sales Manager|   Hannah Snyder|          PL|        Active|   Full-Time| Zone B|                 Temporary|     Retirement|         Sales|              Aerial|15-10-1974|   CO|               Lineman|      Male|       46645|   Black|    Married|      Fully Meets|                      1|
| 3531|   Ronnie|    Mayer|17-Jun-23|     NULL|Area Sales Manager|     Dylan Blake|         WBL|        Active|   Full-Time| Zone C|                 Full-Time|            Unk|         Sales|Project Managemen...|18-05-1943|   CA|       Project Manager|      Male|       18409|   Black|   Divorced|      Fully Meets|                      1|
| 3532|   Marlon|     Ford|14-Oct-21|     NULL|Area Sales Manager|Monique Anderson|          EW|        Active|   Part-Time| Zone B|                 Full-Time|            Unk|         IT/IS|            Wireless|27-11-1966|   OR|            Technician|    Female|       40306|   Black|    Widowed|      Fully Meets|                      1|
| 3542|    Ellie|     Gill|15-Apr-23|     NULL|Area Sales Manager|   Amanda Knight|          EW|        Active|    Contract| Zone A|                 Temporary|            Unk|         Sales|    Field Operations|01-03-1948|   IN|               Manager|      Male|       45456|   White|    Married|Needs Improvement|                      1|
| 3545|    Ryann|    Rubio|07-Mar-22|     NULL|Area Sales Manager|    Andres Jones|          EW|        Active|   Full-Time| Zone C|                 Temporary|            Unk|         IT/IS|    Field Operations|28-01-1943|   OR|               Locator|    Female|        9733|   Black|    Widowed|      Fully Meets|                      1|
| 3546|    Paris|     Carr|31-Jul-21|27-Jan-23|Area Sales Manager| Jeffrey Huffman|        CCDR|        Active|   Full-Time| Zone B|                 Part-Time|      Voluntary|         Sales|       General - Con|14-07-1980|   ND|               Foreman|      Male|       35786|Hispanic|    Widowed|          Exceeds|                      1|
| 3548|    Sanaa|    Glass|11-Jul-21|10-Oct-22|Area Sales Manager|  Stephen Garcia|         WBL|        Active|   Part-Time| Zone A|                 Full-Time|    Resignation|         Sales|       General - Con|25-01-1964|   KY|            Technician|    Female|       40135|   White|     Single|      Fully Meets|                      1|
+-----+---------+---------+---------+---------+------------------+----------------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------------------+----------+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
only showing top 20 rows

In [93]:
df.select([count(when(col(c).isNull() ,c)).alias(c) for c in df.columns]).show()

+-----+---------+--------+---------+--------+-----+----------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|EmpID|FirstName|LastName|StartDate|ExitDate|Title|Supervisor|BusinessUnit|EmployeeStatus|EmployeeType|PayZone|EmployeeClassificationType|TerminationType|DepartmentType|Division|DOB|State|JobFunctionDescription|GenderCode|LocationCode|RaceDesc|MaritalDesc|Performance Score|Current Employee Rating|
+-----+---------+--------+---------+--------+-----+----------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+
|    0|        0|       0|        0|     263|    0|         0|           0|             0|           0|      0|                         0|              0|             0|       0|  0|    0|                     0|         0|           0|       0|          0|                0|                      0|
+-----+---------+--------+---------+--------+-----+----------+------------+--------------+------------+-------+--------------------------+---------------+--------------+--------+---+-----+----------------------+----------+------------+--------+-----------+-----------------+-----------------------+

In [94]:
df = df.fillna({"LastName":"Unknown"})

In [95]:
df = df.dropna(subset=["EmpID","StartDate"])

In [96]:
df = df.withColumn("Current Employee Rating", when(col("Current Employee Rating") < 1, 1).when(col("Current Employee Rating") > 5, 5)
.otherwise(col("Current Employee Rating")))

In [97]:
df = df.filter(length(col("LocationCode")) == 5)

In [98]:
df = df.dropDuplicates()

In [99]:
df.groupBy(trim("DepartmentType"),trim("Title")).count().show()

+--------------------+--------------------+-----+
|trim(DepartmentType)|         trim(Title)|count|
+--------------------+--------------------+-----+
|               IT/IS|Principal Data Ar...|    7|
|               IT/IS|        Data Analyst|    4|
|          Production|Production Techni...|   54|
|               IT/IS|Sr. Network Engineer|   25|
|    Executive Office|    Network Engineer|   15|
|               IT/IS|    Network Engineer|   17|
|          Production|Production Techni...|    1|
|          Production|Production Techni...|  157|
|               IT/IS|      Data Architect|    2|
|               IT/IS|  Area Sales Manager|    4|
|               Sales|  Area Sales Manager|  106|
|               IT/IS|Enterprise Architect|    4|
|               IT/IS|          IT Support|   36|
|               Sales| Area Sales Manager?|    1|
|               Sales| Area Sales Manager.|    1|
|               IT/IS|Software Engineer...|    1|
|               IT/IS|      Sr. Accountant|    4|
|               IT/IS|             Sr. DBA|    4|
|               IT/IS|Database Administ...|    9|
|               IT/IS|                 CIO|    2|
+--------------------+--------------------+-----+
only showing top 20 rows

In [100]:
df = df.withColumn("Performance Score", when(col("Performance Score") == "Exceeds", 3)
                   .when(col("Performance Score") == "Fully Meets", 2)
                   .when(col("Performance Score") == "Needs Improvement", 1)
                   .otherwise(0))

In [101]:
high = df.groupBy("DepartmentType").agg(max("Performance Score").alias("Max Performance Score"))
high = high.withColumnRenamed("DepartmentType","DepartmentType1")

high = high.join(df,(df["DepartmentType"] == high["DepartmentType1"]) & (df["Performance Score"] == high["Max Performance Score"])).select(
    "EmpID","FirstName","LastName","DepartmentType","Performance Score").show()

+-----+---------+--------+-----------------+-----------------+
|EmpID|FirstName|LastName|   DepartmentType|Performance Score|
+-----+---------+--------+-----------------+-----------------+
| 3703|  Addisyn|Guerrero|Production       |                3|
| 3822|  Katrina| Lambert| Executive Office|                2|
| 3541|    Aaron|   Weber|            Sales|                3|
| 3450|   Reilly|   Moyer|            Sales|                3|
| 3708|     Case|  Gaines|Production       |                3|
| 3866|   Kaeden|  Vargas| Executive Office|                2|
| 3964|   Marlee| Stevens|            IT/IS|                3|
| 3659|   Kaylee| Baldwin|Production       |                3|
| 3540|     Maya|  Mccann|            Sales|                3|
| 3974|   Zander|  Franco|            IT/IS|                3|
| 3663|  Brandon|Anderson|Production       |                3|
| 3834|  Monique|  Pierce| Executive Office|                2|
| 3973| Brooklyn|  Tanner|            IT/IS|                3|
| 3854|   Jayden|   Mckee| Executive Office|                2|
| 3829|Jaqueline| Pittman|            IT/IS|                3|
| 3546|    Paris|    Carr|            Sales|                3|
| 3693|     Amya|    Vega|Production       |                3|
| 3556|   Damien|    Howe|            Sales|                3|
| 3970|     Macy| Webster|            IT/IS|                3|
| 3796|Jefferson|   White|Production       |                3|
+-----+---------+--------+-----------------+-----------------+
only showing top 20 rows

In [105]:
from pyspark.sql.window import Window

window_spec = Window.partitionBy("DepartmentType").orderBy(col("Current Employee Rating").desc())

top = df.withColumn("rank", row_number().over(window_spec)).filter(col("rank") == 1)

top.select("EmpID","FirstName","LastName","DepartmentType","Current Employee Rating").show()

+-----+---------+--------+-----------------+-----------------------+
|EmpID|FirstName|LastName|   DepartmentType|Current Employee Rating|
+-----+---------+--------+-----------------+-----------------------+
| 3822|  Katrina| Lambert| Executive Office|                      3|
| 3466|  Clayton|  Walker|            IT/IS|                      4|
| 3625|  Gabriel|  Dodson|Production       |                      5|
| 3480| Jerimiah|  Harmon|            Sales|                      5|
+-----+---------+--------+-----------------+-----------------------+

In [107]:
df.write.csv("emp_final",header=True)